/*Created by Michael Anderson*/
body {
  /*black background and green text with monospace/Courier New font to emulate older DOS terminals*/
    background-color: black;
    color: limegreen;
    font-family: 'Courier New', Courier, monospace;
}
a{
  /*sets link colors to slighlt offwhite for differentiation on the screen, removes the underline*/
  color: papayawhip;
  text-decoration: none;
}
a:hover {
  /*changes the link to magneta upon hovering*/
  color: magenta;
}
h1, h2 {
  /*centers header text and makes it a slightly brighter color*/
    color: lime;
    text-align: center;
}
.lineEntry {
  /*floats lineEntry character to the left of the screen, creating a more coherent DOS effect*/
    float:left;
}
.dosLink {
  /*change the link color to white to reflect BIOS text color*/
    color: white;
    text-decoration: underline whitesmoke 2px;
    font-weight: bolder;
}
.blinkingLine {
  /*creates a blinking character within the blinkingLine class*/
    opacity: 0%;
    /*defining the animation keyframe, duration, type, delay, and run time*/
    animation: blinker 1s step-end 6.5s infinite;
  }
  
  @keyframes blinker {
    /*change the opacity from 100 to 0 and back using 50% as a frame reference for full opacity*/
    50% {
      opacity: 100;
    }
  }
.nav {
  /*nav background is set to blue with a dashed border - emulating the BIOS screen menus on computers, floating the NAV to the left of the screen*/
    border: dashed 3px yellowgreen;
    height: 6000px;
    width: 200px;
    float: left;
    padding: 5px;
    padding-left: 10px;
    line-height: 30px;
    background: blue;
}
#userInfo {
  /*change the userInfo element to be more readable*/
    color: whitesmoke;
    font-weight: 600;
    font-size: large;
}
.typed {
  /*creates a typing animation by hiding the through setting the width to 0, hiding the overflow, creating a 2 pixel border on the right hand side, defining the animation
  as before, and adding some padding for visibility*/
    display: inline-block;
    overflow: hidden;
    width: 0;
    border-right: 2px solid;
    animation: typing 1.5s steps(30, end) 10ms forwards;
    white-space: nowrap;
    padding: 5px;
  }

  @keyframes typing {
    /*expanding the width creates the typing animation, and hiding the border after the animation plays allows for a smoother transition between animations*/
    from {
        width: 0
        
    }
    to {
        width: 100%
    }
    from {
        border-right: 2px solid;
    }
    to {
        border-right: 0px solid;
    }
  }
  ul {
    list-style-type: square;
  }
.typed2 {
  /*creates a typing animation by hiding the through setting the width to 0, hiding the overflow, creating a 2 pixel border on the right hand side, defining the animation
  as before*/
    display: inline-block;
    overflow: hidden;
    width: 0;
    border-right: 0px solid;
    animation: typing2 1.5s steps(30, end) 2s forwards;
    white-space: nowrap;
  }

  @keyframes typing2 {
    /*expanding the width creates the typing animation, and hiding the border after the animation plays allows for a smoother transition between animations - hard setting the
    width allows the border to disappear where desired*/
    from {
        width: 0
        
    }
    to {
        width: 112px
    }
    from {
        border-right: 2px solid;
    }
    to {
        border-right: 0px solid;
    }
  }
  .typed3 {
    /*"loads" the image by expanding its height with the same code as above*/
    display: inline-block;
    overflow: hidden;
    height: 0;
    animation: typing3 1.5s steps(30, end) 4s forwards;
    white-space: nowrap;
  }

  @keyframes typing3 {
  /*creates desired effect by changing the border and height - width is predefined to have the image show properly*/
    from {
        height: 0;
        width: 650px;
        opacity: 0%;
    }
    to {
        height: 300px;
        width: 650px;
        opacity: 100%;
    }
    from {
        border: 0px solid darkgreen;
    }
    to {
        border: 4px dashed lime;
    }
  }
  .typed4 {
    /*creates a typing animation by hiding the through setting the width to 0, hiding the overflow, creating a 2 pixel border on the right hand side, defining the animation
  as before*/
    display: inline-block;
    overflow: hidden;
    width: 0;
    border-right: 0px solid;
    animation: typing4 2.0s steps(30, end) 5.5s forwards;
    white-space: nowrap;
  }

  @keyframes typing4 {
    /*expanding the width creates the typing animation, and hiding the border after the animation plays allows for a smoother transition between animations - hard setting the
    width allows the border to disappear where desired*/
    from {
        width: 0
        
    }
    to {
        width: 100%
    }
    from {
        border-right: 2px solid;
    }
    to {
        border-right: 0px solid;
    }
  }
  .typed5 {
    /*creates a typing animation by hiding the through setting the width to 0, hiding the overflow, creating a 2 pixel border on the right hand side, defining the animation
  as before*/
    display: inline-block;
    overflow: hidden;
    width: 0;
    border-right: 0px solid;
    animation: typing5 3.0s steps(30, end) 2.5s forwards;
    white-space: nowrap;
  }

  @keyframes typing5 {
    /*expanding the width creates the typing animation, and hiding the border after the animation plays allows for a smoother transition between animations - hard setting the
    width allows the border to disappear where desired*/
    from {
        width: 0
        
    }
    to {
        width: 100%
    }
    from {
        border-right: 2px solid;
    }
    to {
        border-right: 0px solid;
    }
  }
#imageBox { 
  /*creates a box around the image and text to separate them from the rest of the page - width set to place footer properly, and floated to place it beside the nav bar*/ 
    border: 3px dashed lime;
    padding: 5px;
    float: left;
    height: 450px;
    margin-left: 5px;
    width: 1500px;
}
#memeImage {
  /*moves the image to desired location*/
  padding: 5px;  
  margin-right:200px;
  margin-left: 400px;
}
#memeQuote {
  /*change the quote text to be smaller and brighter*/
  color: lime;
  font-size: small;
}
.contentBox {
  /*floats the text box to the left like the image box to place it beside the nav bar, defines a border that's slightly different from the imageBox border to pre-define content*/
  float: left;
  border: 3px dashed limegreen;
  height: 200px;
  margin-left: 5px;
  width: 1500px;
}
.footer {
  /*text aligned to the center with a margin on the div of 200px*/
    text-align: center;
    margin-right: 200px;
}